name: ci
on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: 24.11.0
                  cache: 'pnpm'
            - uses: pnpm/action-setup@v4
              with:
                  version: 10.20.0
            - run: pnpm install --frozen-lockfile
            - run: pnpm lint
            - run: pnpm format:check
            - run: pnpm typecheck
            - run: pnpm test -- --coverage
            - run: pnpm build
